In [1]:
import pandas as pd
h = pd.read_excel("integrada.xlsx").iloc[:, range(1,69)]
h.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 552 entries, 0 to 551
Data columns (total 68 columns):
Country                                     552 non-null object
Happiness Score                             552 non-null float64
Log GDP per capita                          480 non-null float64
Health (Life Expectancy)                    552 non-null float64
Freedom                                     552 non-null float64
Trust (Government Corruption)               551 non-null float64
Generosity                                  552 non-null float64
Dystopia Residual                           532 non-null float64
year                                        552 non-null int64
NoMon4Food%                                 509 non-null float64
NoMon4Shelter%                              511 non-null float64
ChildrenLearnG                              511 non-null float64
TertiaryED                                  511 non-null float64
EDSYSatisf                                  508 non-null float64
Quality healthcare - satisfied              508 non-null float64
Employed full time for an employer          511 non-null float64
Employed full time for self                 511 non-null float64
Employed part time do not want full time    511 non-null float64
Unemployed                                  511 non-null float64
Employed part time want full time           510 non-null float64
Out of workforce                            511 non-null float64
Male                                        512 non-null float64
Payroll index                               511 non-null float64
Preserve enviroment - satisfied             511 non-null float64
Quality air - satisfied                     511 non-null float64
Quality water - satisfied                   511 non-null float64
Treated respect - satisfied                 511 non-null float64
Unemploiment index                          512 non-null float64
Preserve the environment - satsified_x      511 non-null float64
Treated with respect - Yes_x                512 non-null float64
Work hard, get ahead - Yes_x                268 non-null float64
Preserve the environment - satsified_y      511 non-null float64
Treated with respect - Yes_y                512 non-null float64
Work hard, get ahead - Yes_y                268 non-null float64
Preserve the environment - satsified_x.1    511 non-null float64
Treated with respect - Yes_x.1              512 non-null float64
Work hard, get ahead - Yes_x.1              268 non-null float64
Preserve the environment - satsified_y.1    511 non-null float64
Treated with respect - Yes_y.1              512 non-null float64
Work hard, get ahead - Yes_y.1              268 non-null float64
City Economy - Getting better               401 non-null float64
City Economy - Remains the same             401 non-null float64
City Economy - Getting worse                401 non-null float64
Urban                                       402 non-null float64
Rural                                       401 non-null float64
Unnamed: 0_y                                552 non-null int64
Unnamed: 0.1                                552 non-null int64
id                                          552 non-null object
Global Index Score (0-100)                  552 non-null float64
Global Index Rank                           552 non-null int64
Spillover Score (0-100)                     414 non-null float64
Goal 1 Score                                538 non-null object
Goal 2 Score                                552 non-null float64
Goal 3 Score                                552 non-null float64
Goal 4 Score                                551 non-null float64
Goal 5 Score                                552 non-null float64
Goal 6 Score                                552 non-null float64
Goal 7 Score                                414 non-null float64
Goal 8 Score                                414 non-null float64
Goal 9 Score                                414 non-null float64
Goal 10 Score                               398 non-null object
Goal 11 Score                               552 non-null float64
Goal 12 Score                               552 non-null float64
Goal 13 Score                               552 non-null float64
Goal 14 Score                               487 non-null object
Goal 15 Score                               552 non-null float64
Goal 16 Score                               552 non-null float64
Goal 17 Score                               552 non-null float64
dtypes: float64(59), int64(4), object(5)
memory usage: 297.6+ KB

In [7]:
h.columns[46] # variables selecionadas
#QUITAR UNnAMED
h = h.drop(h.columns[[45,46]],1)
h.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 552 entries, 0 to 551
Data columns (total 64 columns):
Country                                     552 non-null object
Happiness Score                             552 non-null float64
Log GDP per capita                          480 non-null float64
Health (Life Expectancy)                    552 non-null float64
Freedom                                     552 non-null float64
Trust (Government Corruption)               551 non-null float64
Generosity                                  552 non-null float64
Dystopia Residual                           532 non-null float64
year                                        552 non-null int64
NoMon4Food%                                 509 non-null float64
NoMon4Shelter%                              511 non-null float64
ChildrenLearnG                              511 non-null float64
TertiaryED                                  511 non-null float64
EDSYSatisf                                  508 non-null float64
Quality healthcare - satisfied              508 non-null float64
Employed full time for an employer          511 non-null float64
Employed full time for self                 511 non-null float64
Employed part time do not want full time    511 non-null float64
Unemployed                                  511 non-null float64
Employed part time want full time           510 non-null float64
Out of workforce                            511 non-null float64
Male                                        512 non-null float64
Payroll index                               511 non-null float64
Preserve enviroment - satisfied             511 non-null float64
Quality air - satisfied                     511 non-null float64
Quality water - satisfied                   511 non-null float64
Treated respect - satisfied                 511 non-null float64
Unemploiment index                          512 non-null float64
Preserve the environment - satsified_x      511 non-null float64
Treated with respect - Yes_x                512 non-null float64
Work hard, get ahead - Yes_x                268 non-null float64
Preserve the environment - satsified_y      511 non-null float64
Treated with respect - Yes_y                512 non-null float64
Work hard, get ahead - Yes_y                268 non-null float64
Preserve the environment - satsified_x.1    511 non-null float64
Treated with respect - Yes_x.1              512 non-null float64
Work hard, get ahead - Yes_x.1              268 non-null float64
Preserve the environment - satsified_y.1    511 non-null float64
Treated with respect - Yes_y.1              512 non-null float64
Work hard, get ahead - Yes_y.1              268 non-null float64
City Economy - Getting better               401 non-null float64
City Economy - Remains the same             401 non-null float64
City Economy - Getting worse                401 non-null float64
Urban                                       402 non-null float64
Rural                                       401 non-null float64
Global Index Rank                           552 non-null int64
Spillover Score (0-100)                     414 non-null float64
Goal 1 Score                                538 non-null object
Goal 2 Score                                552 non-null float64
Goal 3 Score                                552 non-null float64
Goal 4 Score                                551 non-null float64
Goal 5 Score                                552 non-null float64
Goal 6 Score                                552 non-null float64
Goal 7 Score                                414 non-null float64
Goal 8 Score                                414 non-null float64
Goal 9 Score                                414 non-null float64
Goal 10 Score                               398 non-null object
Goal 11 Score                               552 non-null float64
Goal 12 Score                               552 non-null float64
Goal 13 Score                               552 non-null float64
Goal 14 Score                               487 non-null object
Goal 15 Score                               552 non-null float64
Goal 16 Score                               552 non-null float64
Goal 17 Score                               552 non-null float64
dtypes: float64(58), int64(2), object(4)
memory usage: 280.3+ KB

In [37]:
#De este modo se pueden ver el numero 
h2 = h.iloc[:, range(9)]
h3= h2[(h2.year == 2018)].copy()

h3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138 entries, 138 to 275
Data columns (total 9 columns):
Country                          138 non-null object
Happiness Score                  138 non-null float64
Log GDP per capita               128 non-null float64
Health (Life Expectancy)         138 non-null float64
Freedom                          138 non-null float64
Trust (Government Corruption)    137 non-null float64
Generosity                       138 non-null float64
Dystopia Residual                127 non-null float64
year                             138 non-null int64
dtypes: float64(7), int64(1), object(1)
memory usage: 10.8+ KB

In [20]:
h3.reset_index(drop=True, inplace=True)
hpred = h3.dropna()
h3['Log GDP per capita'].describe()
h[(h.year == 2020)].describe()

,Happiness Score,Log GDP per capita,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,year,NoMon4Food%,NoMon4Shelter%,...,Goal 6 Score,Goal 7 Score,Goal 8 Score,Goal 9 Score,Goal 11 Score,Goal 12 Score,Goal 13 Score,Goal 15 Score,Goal 16 Score,Goal 17 Score
count,138.000000,87.000000,138.000000,138.000000,138.000000,138.000000,138.000000,138.0,109.000000,110.000000,...,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000
mean,5.547357,9.760425,0.649303,0.788720,0.732894,-0.018868,1.990001,2020.0,0.360126,0.289545,...,69.696571,74.135638,73.040939,45.618491,72.126663,76.289670,82.827990,66.892885,66.966932,61.186330
std,1.100633,0.952573,0.065919,0.115990,0.180026,0.152450,0.558510,0.0,0.221435,0.179430,...,14.504589,27.006164,9.867989,27.380781,15.920344,17.649877,17.945735,14.252667,14.307037,13.507210
min,2.566900,7.684000,0.482205,0.396573,0.109784,-0.300907,0.257241,2020.0,0.032122,0.020000,...,35.750800,0.110000,37.468750,4.013667,29.629333,17.765000,15.087667,25.251000,29.895000,30.932000
25%,4.774825,9.127000,0.599519,0.716227,0.685307,-0.128157,1.666482,2020.0,0.141511,0.120000,...,58.363450,61.565083,67.757450,24.945292,60.049417,62.830250,74.275583,57.661012,54.817250,51.259000
50%,5.550900,9.913000,0.666280,0.808231,0.787030,-0.042624,2.054998,2020.0,0.345547,0.290000,...,71.372100,88.341667,73.360300,40.083583,77.425250,81.554250,89.261333,66.147400,68.727000,60.917833
75%,6.274850,10.571500,0.692175,0.884804,0.850790,0.083011,2.366256,2020.0,0.544642,0.457500,...,80.410500,92.263000,81.243000,66.886125,84.089167,90.262333,97.130833,77.332400,76.692786,68.705875
max,7.808700,11.323000,0.768046,0.974998,0.935585,0.560664,3.440810,2020.0,0.803759,0.640000,...,94.953200,99.350333,88.118800,98.761667,97.991667,96.213833,99.827667,97.837200,94.648222,100.000000

In [21]:
import numpy as np
import sklearn.linear_model as linear_model

In [22]:


X = hpred[[ 'Health (Life Expectancy)', 'Freedom',
       'Trust (Government Corruption)', 'Generosity',
       'year', 'Dystopia Residual']] # here we have 2 variables for multiple regression. If you just want to use one variable for simple linear regression, then use X = df['Interest_Rate'] for example.Alternatively, you may add additional variables within the brackets
Y = hpred['Log GDP per capita']
 
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, Y)

print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)

# prediction with sklearn

# print ('Predicted Stock Index Price: \n', regr.predict([[New_Interest_Rate ,New_Unemployment_Rate]]))
eje = hpred[[ 'Health (Life Expectancy)', 'Freedom',
       'Trust (Government Corruption)', 'Generosity',
       'year', 'Log GDP per capita']].iloc[5]
# print(list(eje)[0][1])
regr.predict([eje])[0]

Intercept:
 2.202774773426296
Coefficients:
 [12.20294499 -0.44723741 -0.76933333 -0.15850585  0.          0.1786769 ]

12.253539558008537

In [23]:
import math
#faltantes por años 
a = 0
for i in range(len(h['Country'])):
    if h['year'][i]==2020 and math.isnan(h['Log GDP per capita'][i]):
        a +=1
        try : 
            eje = h[['Health (Life Expectancy)', 'Freedom',
           'Trust (Government Corruption)', 'Generosity',
           'year', 'Dystopia Residual']].iloc[i]
            h['Log GDP per capita'][i]= regr.predict([eje])[0]
        except : 
            pass
        
print(a)

C:\Users\sarab\Anaconda3.6\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

51

In [24]:
for i in range(2017,2021):
    h2 =h[(h.year == i)][['Log GDP per capita']]
    print(i,'\n',h2.describe())

2017
        Log GDP per capita
count          136.000000
mean             9.444309
std              1.151832
min              6.945000
25%              8.531250
50%              9.558000
75%             10.412500
max             11.634000
2018
        Log GDP per capita
count          128.000000
mean             9.450953
std              1.161664
min              6.635000
25%              8.538750
50%              9.577500
75%             10.390500
max             11.645000
2019
        Log GDP per capita
count          129.000000
mean             9.527256
std              1.128452
min              6.966000
25%              8.595000
50%              9.607000
75%             10.511000
max             11.648000
2020
        Log GDP per capita
count          138.000000
mean             9.568162
std              0.931979
min              7.684000
25%              8.872595
50%              9.696000
75%             10.371000
max             11.323000

# AQUÍ

In [57]:
anyo = 2019
var = 'Log GDP per capita'
h2 = h.iloc[:, range(9)]
h3= h2[(h2.year == anyo)].copy()
h3.reset_index(drop=True, inplace=True)
hpred = h3.dropna()
##########MODELO#############################

X = hpred[[ 'Health (Life Expectancy)', 'Freedom','Generosity',
       'year','Trust (Government Corruption)','Dystopia Residual']] # here we have 2 variables for multiple regression. If you just want to use one variable for simple linear regression, then use X = df['Interest_Rate'] for example.Alternatively, you may add additional variables within the brackets
lista = ['Log GDP per capita']
Y = hpred[var]
 
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, Y)

print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)

# prediction with sklearn

# print ('Predicted Stock Index Price: \n', regr.predict([[New_Interest_Rate ,New_Unemployment_Rate]]))

################SUSTITUIR
a=0
for i in range(len(h['Country'])):
    if h['year'][i]==anyo and math.isnan(h[var][i]):
        a +=1
        try : 
            eje = h[[ 'Health (Life Expectancy)', 'Freedom','Generosity',
       'year','Trust (Government Corruption)','Dystopia Residual']].iloc[i]
            h[var][i]= regr.predict([eje])[0]
        except : 
            pass
        
print(a)
# imprimimos los valores para ver que los nuevos imputasdos no generan un gran cambio en nuestros datos , ni crean atipicos
print(h3[var].describe())
print(h[(h.year == anyo)][var].describe())

Intercept:
 20.64363170285901
Coefficients:
 [ 1.10784846e+01  7.46177924e+00 -8.88648335e+00 -1.77635684e-15
 -5.40539461e+00 -2.10105239e+01]

C:\Users\sarab\Anaconda3.6\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

9
count    129.000000
mean       9.527256
std        1.128452
min        6.966000
25%        8.595000
50%        9.607000
75%       10.511000
max       11.648000
Name: Log GDP per capita, dtype: float64
count    138.000000
mean       9.481775
std        1.125952
min        6.966000
25%        8.564750
50%        9.594500
75%       10.404750
max       11.648000
Name: Log GDP per capita, dtype: float64

In [62]:
h.to_excel('Sin_Nan_kaggle.xlsx')

# MODELOS SDG

In [123]:
#VISTA PREVIA 
h2 = h.iloc[:,[8, *range(46,66)]] 
h3= h2[(h2.year == 2019)].copy()
h3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138 entries, 276 to 413
Data columns (total 21 columns):
year                          138 non-null float64
Global Index Score (0-100)    138 non-null float64
Global Index Rank             138 non-null float64
Spillover Score (0-100)       138 non-null float64
Goal 1 Score                  138 non-null object
Goal 2 Score                  138 non-null float64
Goal 3 Score                  138 non-null float64
Goal 4 Score                  138 non-null float64
Goal 5 Score                  138 non-null float64
Goal 6 Score                  138 non-null float64
Goal 7 Score                  138 non-null float64
Goal 8 Score                  138 non-null float64
Goal 9 Score                  138 non-null float64
Goal 10 Score                 130 non-null object
Goal 11 Score                 138 non-null float64
Goal 12 Score                 138 non-null float64
Goal 13 Score                 138 non-null float64
Goal 14 Score                 107 non-null object
Goal 15 Score                 138 non-null float64
Goal 16 Score                 138 non-null float64
Goal 17 Score                 138 non-null float64
dtypes: float64(18), object(3)
memory usage: 23.7+ KB

In [128]:
#### type
h2 = h.iloc[:,[8, *range(46,66)]] 
for i in h2.columns:
    try : 
        h[i] = h[i].convert_objects(convert_numeric=True)
    except :
        print(i)
h.info   ()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 552 entries, 0 to 551
Data columns (total 66 columns):
Country                                     552 non-null object
Happiness Score                             552 non-null float64
Log GDP per capita                          552 non-null float64
Health (Life Expectancy)                    552 non-null float64
Freedom                                     552 non-null float64
Trust (Government Corruption)               552 non-null float64
Generosity                                  552 non-null float64
Dystopia Residual                           552 non-null float64
year                                        552 non-null float64
NoMon4Food%                                 509 non-null float64
NoMon4Shelter%                              511 non-null float64
ChildrenLearnG                              511 non-null float64
TertiaryED                                  511 non-null float64
EDSYSatisf                                  508 non-null float64
Quality healthcare - satisfied              508 non-null float64
Employed full time for an employer          511 non-null float64
Employed full time for self                 511 non-null float64
Employed part time do not want full time    511 non-null float64
Unemployed                                  511 non-null float64
Employed part time want full time           510 non-null float64
Out of workforce                            511 non-null float64
Male                                        512 non-null float64
Payroll index                               511 non-null float64
Preserve enviroment - satisfied             511 non-null float64
Quality air - satisfied                     511 non-null float64
Quality water - satisfied                   511 non-null float64
Treated respect - satisfied                 511 non-null float64
Unemploiment index                          512 non-null float64
Preserve the environment - satsified_x      511 non-null float64
Treated with respect - Yes_x                512 non-null float64
Work hard, get ahead - Yes_x                268 non-null float64
Preserve the environment - satsified_y      511 non-null float64
Treated with respect - Yes_y                512 non-null float64
Work hard, get ahead - Yes_y                268 non-null float64
Preserve the environment - satsified_x.1    511 non-null float64
Treated with respect - Yes_x.1              512 non-null float64
Work hard, get ahead - Yes_x.1              268 non-null float64
Preserve the environment - satsified_y.1    511 non-null float64
Treated with respect - Yes_y.1              512 non-null float64
Work hard, get ahead - Yes_y.1              268 non-null float64
City Economy - Getting better               401 non-null float64
City Economy - Remains the same             401 non-null float64
City Economy - Getting worse                401 non-null float64
Urban                                       402 non-null float64
Rural                                       401 non-null float64
id                                          552 non-null object
Global Index Score (0-100)                  552 non-null float64
Global Index Rank                           552 non-null float64
Spillover Score (0-100)                     414 non-null float64
Goal 1 Score                                551 non-null float64
Goal 2 Score                                552 non-null float64
Goal 3 Score                                552 non-null float64
Goal 4 Score                                552 non-null float64
Goal 5 Score                                552 non-null float64
Goal 6 Score                                552 non-null float64
Goal 7 Score                                414 non-null float64
Goal 8 Score                                414 non-null float64
Goal 9 Score                                414 non-null float64
Goal 10 Score                               396 non-null float64
Goal 11 Score                               552 non-null float64
Goal 12 Score                               552 non-null float64
Goal 13 Score                               552 non-null float64
Goal 14 Score                               484 non-null float64
Goal 15 Score                               552 non-null float64
Goal 16 Score                               552 non-null float64
Goal 17 Score                               552 non-null float64
dtypes: float64(64), object(2)
memory usage: 308.9+ KB

C:\Users\sarab\Anaconda3.6\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  after removing the cwd from sys.path.

In [92]:
h2.columns

Index(['year', 'Global Index Score (0-100)', 'Global Index Rank',
       'Spillover Score (0-100)', 'Goal 1 Score', 'Goal 2 Score',
       'Goal 3 Score', 'Goal 4 Score', 'Goal 5 Score', 'Goal 6 Score',
       'Goal 7 Score', 'Goal 8 Score', 'Goal 9 Score', 'Goal 10 Score',
       'Goal 11 Score', 'Goal 12 Score', 'Goal 13 Score', 'Goal 14 Score',
       'Goal 15 Score', 'Goal 16 Score', 'Goal 17 Score'],
      dtype='object')

In [1]:
#UNA VEZ CREADO Y PROBADO EL MODELO SE HIZO UNA CELDAD MODELO

In [130]:
anyo = 2020
var = 'Goal 14 Score'

h2 = h.iloc[:,[8, *range(46,66)]] 
h3= h2[(h2.year == anyo)]
h3.reset_index(drop=True, inplace=True)
hpred = h3.dropna()

##########MODELO#############################
# v = var para la pred , var la que se quiere predecir (lista se usó en el proceso 
#para almacenar las variables que no se podian usar porque habían faltantes en ese mismo año )
v = ['year', 'Global Index Score (0-100)', 'Global Index Rank',
       'Spillover Score (0-100)','Goal 1 Score', 'Goal 2 Score',
       'Goal 3 Score', 'Goal 4 Score','Goal 5 Score', 'Goal 6 Score',
       'Goal 7 Score', 'Goal 8 Score', 'Goal 9 Score','Goal 10 Score',
       'Goal 11 Score', 'Goal 12 Score', 'Goal 13 Score',
       'Goal 15 Score', 'Goal 16 Score', 'Goal 17 Score']
X = hpred[v] 
#lista = []
Y = hpred[var]
 
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, Y)

print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)

# prediction with sklearn

################IMPUTACIÓN
a=0
for i in range(len(h['Country'])):
    if h['year'][i]==anyo and math.isnan(h[var][i]):
        a +=1
        try : 
            eje = h[v].iloc[i]
            h[var][i]= regr.predict([eje])[0]
        except : 
            pass
        
print(a)

print(h3[var].describe())
print(h[(h.year == anyo)][var].describe())

Intercept:
 -35.41896713535232
Coefficients:
 [ 0.         16.70141135  0.05015394  0.08623628 -1.00047303 -0.9296655
 -0.85792136 -0.97368524 -0.88803598 -1.00595248 -0.94603656 -0.87338693
 -1.00782969 -0.9380106  -1.10741418 -0.93122086 -1.02359952 -0.97187984
 -0.91670007 -0.9618107 ]

C:\Users\sarab\Anaconda3.6\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

34
count    104.000000
mean      60.935869
std       11.127217
min        5.795000
25%       54.947100
50%       61.310200
75%       67.762700
max       82.594000
Name: Goal 14 Score, dtype: float64
count    138.000000
mean      61.202937
std        9.900514
min        5.795000
25%       57.608812
50%       61.310200
75%       66.397029
max       82.594000
Name: Goal 14 Score, dtype: float64

# juntar 2018 bien

In [2]:
#Esta parte puede ser ignorada si su conjunto de datos es distinto , sin embargo nuestros datos sufrieron un error en el momento de juntarlos

In [212]:
a = pd.read_excel("2018GlobalIndexResults.xlsx",header=1).iloc[:,[0, *range(228,245)]] 
a['year'] = 2018

In [213]:

a = a.rename(columns={"country": "Country"})
a.head()

,Country,Goal 1 Score,Goal 2 Score,Goal 3 Score,Goal 4 Score,Goal 5 Score,Goal 6 Score,Goal 7 Score,Goal 8 Score,Goal 9 Score,Goal 10 Score,Goal 11 Score,Goal 12 Score,Goal 13 Score,Goal 14 Score,Goal 15 Score,Goal 16 Score,Goal 17 Score,year
0,Afghanistan,63.790201,40.261773,37.863265,6.936936,24.607205,49.261909,52.030878,31.177988,3.792995,65.436978,39.359421,82.073902,87.666331,48.422883,50.829361,47.577309,54.971700,2018
1,Albania,99.666639,48.788960,80.958840,84.832714,73.484866,93.130988,82.270938,55.599511,27.304684,59.897823,75.380650,74.443452,75.358446,38.785862,75.099822,65.812036,60.617512,2018
2,Algeria,99.537810,50.724515,76.591204,77.802115,49.333781,61.866939,79.802064,53.663517,28.779283,88.864923,68.708563,81.646870,90.754169,44.423361,62.227520,65.217889,74.022392,2018
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018
4,Angola,60.426318,44.120671,31.425596,44.809150,61.830478,57.473871,35.568152,48.857665,7.671879,45.198309,44.190386,80.602609,87.376357,43.094054,63.752806,38.789491,47.273398,2018

In [214]:
dic = {'Former Yugoslav Republic of Macedonia (FYROM)':"Macedonia",
       'Macedonia, FYR':"Macedonia",
       "North Macedonia":"Macedonia",
       'Congo, Dem. Rep.':'Congo (Kinshasa)',
       'Congo, Rep.':'Congo (Brazzaville)',
       "Cote d'Ivoire":"Ivory Coast",
       'Egypt, Arab Rep.':"Egypt",
       "Eswatini":"Swaziland",
       'Gambia, The':"Gambia",
       'Iran, Islamic Rep.':"Iran",
       'Korea, Dem. Rep.':"North Korea",
       'Korea, Rep.':"South Korea",
       'Kyrgyz Republic':"Kyrgyzstan", 
       'Lao PDR':"Laos",
       'Russian Federation':"Russia",
       "Slovak Republic":"Slovakia",
       "Syrian Arab Republic":"Syria",
       "Venezuela, RB":"Venezuela",
       "Yemen, Rep.":"Yemen"}
a['Country'].replace(to_replace = dic,inplace=True)
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 19 columns):
Country          193 non-null object
Goal 1 Score     156 non-null float64
Goal 2 Score     156 non-null float64
Goal 3 Score     156 non-null float64
Goal 4 Score     156 non-null float64
Goal 5 Score     156 non-null float64
Goal 6 Score     156 non-null float64
Goal 7 Score     156 non-null float64
Goal 8 Score     156 non-null float64
Goal 9 Score     156 non-null float64
Goal 10 Score    156 non-null float64
Goal 11 Score    156 non-null float64
Goal 12 Score    156 non-null float64
Goal 13 Score    156 non-null float64
Goal 14 Score    156 non-null float64
Goal 15 Score    156 non-null float64
Goal 16 Score    156 non-null float64
Goal 17 Score    156 non-null float64
year             193 non-null int64
dtypes: float64(17), int64(1), object(1)
memory usage: 28.7+ KB

In [3]:
import pandas as pd
h = pd.read_excel('integrada_sinNan.xlsx')
h.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 552 entries, 0 to 551
Data columns (total 66 columns):
Country                                     552 non-null object
Happiness Score                             552 non-null float64
Log GDP per capita                          552 non-null float64
Health (Life Expectancy)                    552 non-null float64
Freedom                                     552 non-null float64
Trust (Government Corruption)               552 non-null float64
Generosity                                  552 non-null float64
Dystopia Residual                           552 non-null float64
year                                        552 non-null int64
NoMon4Food%                                 509 non-null float64
NoMon4Shelter%                              511 non-null float64
ChildrenLearnG                              511 non-null float64
TertiaryED                                  511 non-null float64
EDSYSatisf                                  508 non-null float64
Quality healthcare - satisfied              508 non-null float64
Employed full time for an employer          511 non-null float64
Employed full time for self                 511 non-null float64
Employed part time do not want full time    511 non-null float64
Unemployed                                  511 non-null float64
Employed part time want full time           510 non-null float64
Out of workforce                            511 non-null float64
Male                                        512 non-null float64
Payroll index                               511 non-null float64
Preserve enviroment - satisfied             511 non-null float64
Quality air - satisfied                     511 non-null float64
Quality water - satisfied                   511 non-null float64
Treated respect - satisfied                 511 non-null float64
Unemploiment index                          512 non-null float64
Preserve the environment - satsified_x      511 non-null float64
Treated with respect - Yes_x                512 non-null float64
Work hard, get ahead - Yes_x                268 non-null float64
Preserve the environment - satsified_y      511 non-null float64
Treated with respect - Yes_y                512 non-null float64
Work hard, get ahead - Yes_y                268 non-null float64
Preserve the environment - satsified_x.1    511 non-null float64
Treated with respect - Yes_x.1              512 non-null float64
Work hard, get ahead - Yes_x.1              268 non-null float64
Preserve the environment - satsified_y.1    511 non-null float64
Treated with respect - Yes_y.1              512 non-null float64
Work hard, get ahead - Yes_y.1              268 non-null float64
City Economy - Getting better               401 non-null float64
City Economy - Remains the same             401 non-null float64
City Economy - Getting worse                401 non-null float64
Urban                                       402 non-null float64
Rural                                       401 non-null float64
id                                          552 non-null object
Global Index Score (0-100)                  552 non-null float64
Global Index Rank                           552 non-null int64
Spillover Score (0-100)                     552 non-null float64
Goal 1 Score                                552 non-null float64
Goal 2 Score                                552 non-null float64
Goal 3 Score                                552 non-null float64
Goal 4 Score                                552 non-null float64
Goal 5 Score                                552 non-null float64
Goal 6 Score                                552 non-null float64
Goal 7 Score                                552 non-null float64
Goal 8 Score                                552 non-null float64
Goal 9 Score                                552 non-null float64
Goal 10 Score                               542 non-null float64
Goal 11 Score                               552 non-null float64
Goal 12 Score                               552 non-null float64
Goal 13 Score                               552 non-null float64
Goal 14 Score                               552 non-null float64
Goal 15 Score                               552 non-null float64
Goal 16 Score                               552 non-null float64
Goal 17 Score                               552 non-null float64
dtypes: float64(62), int64(2), object(2)
memory usage: 288.9+ KB

In [6]:
#VISTA PREVIA 
h2 = h.iloc[:,[8, *range(46,66)]] 
h3= h2[(h2.year == 2017)].copy()
h3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138 entries, 0 to 137
Data columns (total 21 columns):
year                          138 non-null int64
Global Index Score (0-100)    138 non-null float64
Global Index Rank             138 non-null int64
Spillover Score (0-100)       138 non-null float64
Goal 1 Score                  138 non-null float64
Goal 2 Score                  138 non-null float64
Goal 3 Score                  138 non-null float64
Goal 4 Score                  138 non-null float64
Goal 5 Score                  138 non-null float64
Goal 6 Score                  138 non-null float64
Goal 7 Score                  138 non-null float64
Goal 8 Score                  138 non-null float64
Goal 9 Score                  138 non-null float64
Goal 10 Score                 128 non-null float64
Goal 11 Score                 138 non-null float64
Goal 12 Score                 138 non-null float64
Goal 13 Score                 138 non-null float64
Goal 14 Score                 138 non-null float64
Goal 15 Score                 138 non-null float64
Goal 16 Score                 138 non-null float64
Goal 17 Score                 138 non-null float64
dtypes: float64(19), int64(2)
memory usage: 23.7 KB

In [ ]:
#volvemos a la celda modelo anterior

In [9]:
import numpy as np
import sklearn.linear_model as linear_model
import math
anyo = 2017
var = 'Goal 10 Score'

h2 = h.iloc[:,[8, *range(46,66)]] 
h3= h2[(h2.year == anyo)]
h3.reset_index(drop=True, inplace=True)
#hpred = h3.drop(h3[h3['Goal 10 Score']== 'n.d.'].index)
hpred = h3.dropna()
##########MODELO#############################
v = ['year', 'Global Index Score (0-100)', 'Global Index Rank','Goal 1 Score',
      'Goal 2 Score','Spillover Score (0-100)',
       'Goal 3 Score','Goal 4 Score','Goal 5 Score', 'Goal 6 Score',
       'Goal 7 Score', 'Goal 8 Score', 'Goal 9 Score',
       'Goal 11 Score', 'Goal 12 Score', 'Goal 13 Score',
       'Goal 15 Score', 'Goal 16 Score', 'Goal 17 Score']
X = hpred[v] # here we have 2 variables for multiple regression. If you just want to use one variable for simple linear regression, then use X = df['Interest_Rate'] for example.Alternatively, you may add additional variables within the brackets
lista = []
Y = hpred[var]
 
# with sklearn
regr = linear_model.LinearRegression()
regr.fit(X, Y)

print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)

# prediction with sklearn

# print ('Predicted Stock Index Price: \n', regr.predict([[New_Interest_Rate ,New_Unemployment_Rate]]))

################SUSTITUIR
a=0
for i in range(len(h['Country'])):
    if h['year'][i]==anyo and math.isnan(h[var][i]):
        a +=1
        try : 
            eje = h[v].iloc[i]
            h[var][i]= regr.predict([eje])[0]
        except : 
            pass
        
print(a)

print(h3[var].describe())
print(h[(h.year == anyo)][var].describe())

Intercept:
 -14.758529554054235
Coefficients:
 [ 0.         11.21258022  0.03053623 -0.68115203 -0.43041936 -0.19298178
 -0.51591334 -0.78773454 -0.90384613 -0.67209452 -0.58926549 -0.47313433
 -0.78267796 -0.77234535 -0.45452874 -0.67658785 -0.70114298 -0.5036647
 -0.67785549]

C:\Users\sarab\Anaconda3.6\lib\site-packages\ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

10
count    128.000000
mean      63.862026
std       24.000523
min        0.000000
25%       49.421103
50%       69.352894
75%       81.360689
max      100.000000
Name: Goal 10 Score, dtype: float64
count    138.000000
mean      64.212970
std       23.265203
min        0.000000
25%       49.972774
50%       69.739361
75%       81.231733
max      100.000000
Name: Goal 10 Score, dtype: float64

In [271]:
h['Goal 10 Score'] = h['Goal 10 Score'].convert_objects(convert_numeric=True)
h['Goal 10 Score']

C:\Users\sarab\Anaconda3.6\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

0      99.042816
1      89.929504
2      96.062363
3      82.592995
4      95.546516
5      93.053246
6      76.746719
7            NaN
8      94.973351
9      73.135780
10     50.667732
11     34.189259
12     85.917351
13     55.596947
14     80.071075
15     86.920387
16     94.199577
17     73.565659
18     79.927780
19     28.686878
20           NaN
21     25.735081
22     98.383675
23     50.982975
24     35.106319
25     37.714218
26     92.738007
27     54.049408
28     33.816700
29     27.970425
         ...
522    43.459000
523    59.901000
524    61.814000
525    40.966000
526     0.000000
527    98.685000
528    67.228000
529    57.104000
530    53.423000
531    64.783000
532    85.614000
533    32.603000
534    58.935000
535    68.192000
536    39.634000
537    78.946000
538    31.955000
539    37.749000
540    73.580000
541    68.724000
542     0.932000
543    60.454000
544    55.710000
545    38.262000
546    39.361000
547     4.811000
548    56.208000
549    36.346000
550    55.961000
551    73.568410
Name: Goal 10 Score, Length: 552, dtype: float64

In [11]:
h.to_excel('integrada_sinNa.xlsx')