In [1]:
import os 
import pandas as pd
os.chdir("C:/Users/Gonzalo/Documents/CURSO3/PRIII/datos_happy_raw/datos_años")

## Lectura de datos básicos

In [2]:
datos15 = pd.read_csv("2015.csv")
datos16 = pd.read_csv("2016.csv")
datos17 = pd.read_csv("2017.csv")
datos18 = pd.read_csv("2018.csv")
datos19 = pd.read_csv("2019.csv")
datos19 = datos19.rename(columns={"Country or region":"Country"})
datos20 = pd.read_csv("2020.csv")
datos21 = pd.read_excel("2021.xls")

In [ ]:
seleccion = ["Country","Score"]

In [3]:
datos_panel = pd.read_excel("datos_panel.xls")
datos_panel = datos_panel.rename(columns={"Country name":"Country"})

In [22]:
datos15.columns
datos16.columns
datos17.columns
datos18.columns
datos19.columns
datos20.columns

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

## Juntando variables

### A los datos de panel:

In [4]:
os.chdir("C:/Users/Gonzalo/Documents/CURSO3/PRIII/datos_happy_raw/datos_variables")
no_food = pd.read_excel("no_food.xlsx",header=7,usecols=["Geography","Time","Yes"])
no_food = no_food.rename(columns={"Geography":"Country","Time":"year","Yes":"NoMon4Food%"})
no_shelter = pd.read_excel("no_shelter.xlsx",header=7,usecols=["Geography","Time","Yes"])
no_shelter = no_shelter.rename(columns={"Geography":"Country","Time":"year","Yes":"NoMon4Shelter%"})

dic_cambios = {"United Kingdom of Great Britain and Northern Ireland":"United Kingdom",
               "United States of America":"United States",
               "Cote d'Ivoire":"Ivory Coast" ,
               "Congo, Democratic Republic of the":"Congo (Kinshasa)",
               "Congo": "Congo (Brazzaville)",
               "Eswatini":"Swaziland",
               "Lao People's Democratic Republic":"Laos",
               "Northern Cyprus":"North Cyprus",
               "Moldova, Republic of":"Moldova",
               "Russian Federation":"Russia",
               "Somaliland region":"Somalia"}
dic_panel = {'Hong Kong S.A.R. of China': "Hong Kong",'Taiwan Province of China':"Taiwan","Somaliland region":"Somalia"}
no_food["Country"].replace(to_replace = dic_cambios,inplace=True)
no_shelter["Country"].replace(to_replace = dic_cambios,inplace=True)
datos_panel["Country"].replace(dic_panel,inplace=True)
no_food.head()

       Country  year  NoMon4Food%
0  Afghanistan  2019     0.717399
1  Afghanistan  2018     0.567414
2  Afghanistan  2017     0.494581
3  Afghanistan  2016     0.442636
4  Afghanistan  2015     0.466692

In [9]:
for year in [2015,2016,2017,2018,2019,2020]:
    print(len(list(pd.unique(no_food[no_food["year"]==year]["Country"]))),len(list(pd.unique(datos_panel[datos_panel["year"]==year]["Country"]))))

len(pd.unique(datos_panel["Country"]))
#len(pd.unique(datos20["Country name"]))

141 143
142 142
147 147
143 142
144 144
113 95

165

In [13]:
dic_panel = {'Hong Kong S.A.R. of China': "Hong Kong",'Taiwan Province of China':"Taiwan","Somaliland region":"Somalia"}
datos20["Country name"].replace(dic_panel,inplace=True)
datos_panel2 = datos_panel[datos_panel["year"]!=2020]
for p in list(pd.unique(datos18["Country or region"])):
    if p not in list(pd.unique(datos19["Country"])):
        print(p)

Belize
Macedonia
Sudan
Angola

In [15]:
datos_panel = datos_panel.merge(no_food,how="left",on=["Country","year"])
datos_panel = datos_panel.merge(no_shelter,how="left",on=["Country","year"])
datos_panel.head()

,Country,year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,NoMon4Food%,NoMon4Shelter%
0,Afghanistan,2008,3.723590,7.370100,0.450662,50.799999,0.718114,0.167640,0.881686,0.517637,0.258195,0.486787,0.64
1,Afghanistan,2009,4.401778,7.539972,0.552308,51.200001,0.678896,0.190099,0.850035,0.583926,0.237092,0.384065,0.46
2,Afghanistan,2010,4.758381,7.646709,0.539075,51.599998,0.600127,0.120590,0.706766,0.618265,0.275324,0.380464,0.47
3,Afghanistan,2011,3.831719,7.619532,0.521104,51.919998,0.495901,0.162427,0.731109,0.611387,0.267175,0.447218,0.52
4,Afghanistan,2012,3.782938,7.705479,0.520637,52.240002,0.530935,0.236032,0.775620,0.710385,0.267919,0.448324,0.44

In [16]:
for e in sorted(list(pd.unique(no_food["Country"]))):
    if e not in list(pd.unique(datos_panel["Country"])):
        print(e)
#print(list(pd.unique(no_food["Country"])))
#print(sorted(list(pd.unique(datos19["Country"]))))

Nagorno-Karabakh Region
Puerto Rico

### A los datos de 2019

In [17]:
no_food = pd.read_excel("no_food.xlsx",header=7,usecols=["Geography","Time","Yes"])
no_food = no_food.rename(columns={"Geography":"Country","Time":"year","Yes":"NoMon4Food%"})
no_shelter = pd.read_excel("no_shelter.xlsx",header=7,usecols=["Geography","Time","Yes"])
no_shelter = no_shelter.rename(columns={"Geography":"Country","Time":"year","Yes":"NoMon4Shelter%"})
dic_cambios = {"United Kingdom of Great Britain and Northern Ireland":"United Kingdom",
               "United States of America":"United States",
               "Cote d'Ivoire":"Ivory Coast" ,
               "Congo, Democratic Republic of the":"Congo (Kinshasa)",
               "Congo": "Congo (Brazzaville)",
               "Eswatini":"Swaziland",
               "Lao People's Democratic Republic":"Laos",
               "Moldova, Republic of":"Moldova",
               "Russian Federation":"Russia",
               "Somaliland region":"Somalia"}
dic = {"Trinidad & Tobago":"Trinidad and Tobago"}
no_food["Country"].replace(to_replace = dic_cambios,inplace=True)
no_shelter["Country"].replace(to_replace = dic_cambios,inplace=True)
datos19["Country"].replace(dic,inplace=True)

datos19 = datos19.merge(no_food[no_food["year"]==2019][["Country","NoMon4Food%"]],how="left",on=["Country"])
datos19 = datos19.merge(no_shelter[no_shelter["year"]==2019][["Country","NoMon4Shelter%"]],how="left",on=["Country"])
datos19

,Overall rank,Country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,NoMon4Food%,NoMon4Shelter%
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,0.093634,0.05
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,0.052325,0.05
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,0.073919,0.09
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,0.097958,0.09
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,0.096964,0.08
...,...,...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411,0.809382,0.47
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147,0.541845,0.42
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025,0.717399,0.52
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035,NaN,NaN
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091,NaN,NaN

In [38]:
for e in sorted(list(pd.unique(no_food["Country"]))):
    if e not in list(pd.unique(datos19["Country"])):
        print(e)
#print(list(pd.unique(no_food["Country"])))
#print("\n")
#print(sorted(list(pd.unique(datos19["Country"]))))

Angola
Belize
Djibouti
Guyana
Maldives
Nagorno-Karabakh Region
Oman
Puerto Rico
Sudan
Suriname

### A los de 2020

In [40]:
for e in sorted(list(pd.unique(no_food[no_food["year"]==2020]["Country"]))):
    if e not in list(pd.unique(datos20["Country name"])):
        print(e)

Hong Kong
North Macedonia
Taiwan

nofood-->2019data
"United Kingdom of Great Britain and Northern Ireland":"United Kingdom"
"United States of America":"United States"
"Trinidad and Tobago":"Trinidad & Tobago"
Laos tampoco.
"Cote d'Ivoire":"Ivory Coast" 
"Congo, Democratic Republic of the":"Congo (Kinshasa)"
"Congo": "Congo (Brazzaville)"
"Swatini":Swaziland"

In [19]:
os.chdir("C:/Users/Gonzalo/Documents/CURSO3/PRIII/datos_happy_raw/datos_nuevos")
datos_panel.to_excel("panel_data2.xlsx")
datos19.to_excel("datos2k192.xlsx")

In [14]:
pd.concat([datos15,datos16,datos17,datos18,datos19,datos20])

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,lowerwhisker,Logged GDP per capita,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Switzerland,Western Europe,1.0,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2.0,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3.0,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4.0,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Canada,North America,5.0,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.250141,6.625160,1.972317,0.041072,0.000000,0.000000,0.292814,0.253513,0.028265,2.860198
149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.209547,7.600104,1.972317,0.343243,0.522876,0.572383,0.604088,0.235705,0.485542,0.548445
150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.184198,7.865712,1.972317,0.425564,1.047835,0.375038,0.377405,0.151349,0.080929,0.841031
151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.605684,7.425360,1.972317,0.289083,0.553279,0.208809,0.065609,0.209935,0.111157,1.378751
152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.505530,7.462861,1.972317,0.300706,0.356434,0.266052,0.000000,0.135235,0.001226,1.507236